body {
  background-color: #EFEFEF;
}

#userOutput {
  font-size: 70px;
  margin-left: 10%;

  color: black;
}

.well {
  background-color: #CAEBF2;
  border-radius: 25px;
}

#labelText {
  margin-left: 10%;
  font-size: 15px;
}

.btn {
  margin-top: 10px;
}

hr {
  border-color: #FF3B3F;
  border-width: medium;
}

#chart {
  margin-left: 18%;
  height: 1000px;
 }
